.m-example{
    width: 1006px;
    opacity: .5;
    height: 1422px;
    position: absolute;
}
.m-example img {
    width: 100%;
}
li{
    display: block;
}
.m-top {
    height: 72px;
    width: 1006px;
}
.u-co2
{
    background-color: #018ceb;
}
ul.m-dh {
    margin-left: 86px;
    width: 920px;
}
.u-sy {
    width: 47px;
    height: 29px;
    font-size: 14px;
    margin-top: 28px;
}
.nav>li>a {
    padding: 0;
    padding-left: 10px;
    padding-top: 6px;
    color: #fff;
}
.u-jz {
    margin: 15px 0 0 28px;
    font-size: 13px;
}
span.caret {
    margin-top: -6px;
}
.u-yd {
    margin: 14px 0 0 33px;
}
.u-cyb {
    margin: 14px 0 0 37.5px;
}
.m-ri {
    font-size: 12px;
    margin-top: 7px;
    color: #fff;
    width: 626px;
}
ul.m-dl {
    margin-left: 495px;
}
li.u-dl {
    border-right: 1px solid #fff;
    padding-right: 7px;
    height: 15px;
}
li.u-zc {
    padding-left: 3px;
}
.m-ri {
    font-size: 12px;
    margin-top: 7px;
    color: #fff;
    width: 626px;
}
ul.m-dl {
    margin-left: 495px;
}
.u-wz {
    margin-left: 359px;
    width: 198px;
}
button.btn-m {
    height: 20px;
    margin-top: 8px;
    font-size: 12px;
    padding-left: 2px;
    padding-top: 2px;
    color: black;
    background-color: white;
    border-radius: 0;
}
input.m-co {
    height: 20px;
    margin-top: 8px;
    border-radius: 0;
}
.m-bet {
    /* background-color: white; */
    width: 852px;
    margin-left: 102px;
}
.u-ku {
    height: 223px;
    margin: 18px 19px 0 -30px;
}
.u-box {
    background-color: #666666;
}
.u-box2 {
    background-color: #f4f4f4;
    margin: 18px 0 0 0px;
    width: 276px;
    height: 228px;
}
.u-ce1 {
    margin: 25px 0 0 47px;
    letter-spacing: -1.3px;
}
.u-box3 {
    width: 127px;
    height: 33px;
    margin: 25px 0 0 59px;
    border-radius: 5px;
}
.u-cert {
    margin: 42px 0 0 9px;
    border-top: 1px dashed #cccccc;
    width: 230px;
}
.u-fa {
    width: 261px;
    margin-top: 23px;
}
.u-z1 {
    margin: 0 0 2px 22px;
}
.u-co1 {
    color: #6fb3f4;
}
span.u-zx {
    font-size: 12px;
    color: #88888e;
    margin-left: 4px;
}
.u-z2 {
    margin: 0 0 0 -42.5px;
    text-align: center;
}
.u-bott {
    width: 877px;
    padding: 0px;
    padding-top: 14.7px;
    font-size: 16px;
    padding-left: 9px;
    letter-spacing: -0.5px;
    margin-left: -10px;
}
.u-ce2 {
    margin-left: -29px;
}
.u-ce3 {
    margin-left: -12px;
}
.u-gd{
    text-align: right;
    padding: 0px;
    font-size: 12px;
    margin: 3px 0 0 68px;
    letter-spacing: 0.6px;
}
.u-ce4 {
    margin-left: -30px;
    margin-top: 7px;
    border: 1px solid;
    padding-top: 19.6px;
    width: 377px;
    height: 172px;
    font-size: 14px;
    padding-left: 12.2px;
}
.u-bo1 {
    letter-spacing: -0.4px;
}
.u-bo2 {
    letter-spacing: -1.35px;
}
.u-bot{
    margin-left: 24px;
    margin-top: 12px;
}
.u-bot2 {
    margin-top: 1.6px;
}
.u-ce5 {
    height: 172px;
    border: 1px solid;
    margin: 7px 0 0 -0.5px;
    width: 191.39px;
}
.u-cc {
    height: 89px;
    width: 161px;
    margin: 14px 0 0 1px;
}
.u-bot3 {
    margin-top: 3.5px;
}
.u-bo3 {
    display: flex;
    margin: 32px 0 0 -2px;
    font-size: 12px;
}
li.bo-yd {
    letter-spacing: 0.2px;
}
li.bo-xi {
    margin: 3.5px 0 0 12.5px;
    border-right: 1px solid;
    height: 13px;
}
li.bo-tl {
    margin-left: 9.5px;
}
.u-top {
    margin-top: 19px;
    margin-left: 0px;
}
.u-ce6 {
    margin-left: 18px;
    border: 1px solid;
    width: 276px;
    border-bottom: 4px solid #0091ee;
    height: 221px;
    margin-top: 7px;
}
.u-cd {
    height: 88px;
    margin-top: 15px;
}
.u-bo4 {
    margin-top: 9px;
    letter-spacing: 0.7px;
}
.u-bo5 {
    margin-top: 4px;
    letter-spacing: -1px;
    font-size: 13px;
}
span.bo-time {
    letter-spacing: 0px;
    padding-left: 2px;
}
.u-bo6 {
    margin: 4.5px 0 0 -1px;
    letter-spacing: -1.3px;
}
.u-tip {
    margin: 7px 0 0 3px;
}
.col-m {
    margin-left: -30px;
    border: 1px solid;
    border-bottom: none;
    margin-top: -50px;
    padding: 0;
}
.u-ce7 {
    border-right: 1px solid;
    height: 171px;
    border-bottom: 1px solid;
}
.u-ce8 {
    height: 171px;
    border-bottom: 1px solid;
}
.u-fi {
    margin: 16px 0 0 -2.5px;
}
li.u-pt {
    width: 23px;
    height: 12px;
    background-color: #fd793b;
    margin: 7px 0 0 -2.5px;
    border-radius: 2px;
    font-size: 12px;
    color: white;
    padding-top: 0;
}
.u-xd {
    margin: -2px 0 0 -3.5px;
}
.u-tip2 {
    margin: 4px 0 0 -2px;
}
div.u-bd1,li.u-bd1 {
    margin-left:-4px;
}
div.u-bd2,li.u-bd2 {
    margin-left: -1px;
}
.u-cf {
    height: 132px;
    width: 250px;
    margin: 16px 0 0 -1px;
}
.u-c_bd {
    height: 235px;
}
li.u-bd3 {
    margin: 3px 0 0 -2px;
}
.u-tip3 {
    margin-top: 37px;
}
.u-tip4 {
    margin-top: 7px;
    margin-bottom: -3px;
}
.u-xd1 {
    margin: 1px 0 0 -3px;
}
.u-tip5 {
    margin-top: 19px;
}
.u-ce9 {
    height: 167px;
}
.u-ce10 {
    margin: 17px 0 0 -12px;
    letter-spacing: -1.3px;
}
.u-bo7 {
    margin-top: 15px;
}
.u-bo8 {
    margin-top: 1px;
    letter-spacing: -1.33px;
}
.u-bd4 {
    margin: 6px 0 0 240px;
}
li.bo-tl2 {
    margin-left: 10px;
    letter-spacing: 0px;
}
.u-ce11 {
    border-top: 1px solid;
    padding: 15px 0 0 12px;
    letter-spacing: -1.4px;
    height: 143px;
}
.u-tp {
    letter-spacing: -1.34px;
}
.u-bd5 {
    margin: 5px 0 0 412px;
}
.col-n {
    margin-left: 18px;
    border: 1px solid;
    width: 276px;
    border-bottom: 4px solid #0091ee;
    height: 221px;
    margin-top: 8px;
    padding: 0;
}
.u-tip7 {
    margin: 9px 0 0 4px;
}
li.x-bd {
    margin-top: 2px;
}
.r-th {
    padding: 0;
    height: 194px;
    border: 1px solid;
    margin-top: 26px;
    margin-left: 1px;
}
.u-bo9 {
    margin: 14.3px 0 0 13px;
    font-size: 15px;
    height: 31.5px;
    border-bottom: 1px dashed #cccccc;
    width: 247px;
}
span.gd {
    padding-left: 129px;
    font-size: 13px;
}
.u-ko {
    height: 66px;
    margin: 18px 0 0 57.6px;
    width: 155px;
    border: 1px solid #cccccc;
    border-bottom: none;
}
.u-qi {
    height: 25px;
    width: 153px;
    margin: 0 0 0 59px;
    color: white;
    background-color: black;
    padding: 5px 0 0 54px;
    font-size: 12px;
    letter-spacing: 0.3px;
}
.u-boti {
    margin: 5px 0 0 0;
    font-size: 13px;
    letter-spacing: -0.4px;
}
span.time1 {
    padding-left: 3px;
    padding-right: 7px;
}
span.time2 {
    margin-left: -0.5px;
}